@import url('https://fonts.googleapis.com/css?family=Archivo|Archivo+Black&display=swap');

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Archivo', sans-serif; */

/* Colors: #e0e0e0, #f28b24, #a1b5d8, #95a3b3, #313b72 */

:root {
    --vh: 1vh;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/bg-header.jpg) no-repeat center center;
    overflow: hidden;
}

.header-top {
    width: 100%;
    height: 62px;
    position: absolute;
    -webkit-clip-path: polygon(0 0,0 100%, 100% 0);
            clip-path: polygon(0 0,0 100%, 100% 0);
    background: #95a3b3;
}

nav {
    width: 100%;
    height: 62px;
    top: 0;
    position: fixed;
    z-index: 2;
    -webkit-transition: all .1s;
    transition: all .1s;
}

/* Hamburger */

.hamburger {
    width: 32px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    border: 3px solid transparent;
    overflow: hidden;
    background-color: transparent;
    -webkit-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.hamburger.active {
    transform: rotate(180deg);
}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #95a3b3;
    left: 0;
    -webkit-transition: top .2s, bottom .2s, opacity .2s, -webkit-transform .2s;
    transition: top .2s, bottom .2s, opacity .2s, -webkit-transform .2s;
    transition: top .2s, bottom .2s, opacity .2s, transform .2s;
    transition: top .2s, bottom .2s, opacity .2s, transform .2s, -webkit-transform .2s;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: calc(50% - 1.5px);
}

.hamburger span:nth-child(3) {
    bottom: 0;
}

    /* animacja */

    .hamburger.active span:nth-child(1) {
        top: calc(50% - 1.5px);
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        bottom: calc(50% - 1.5px);
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    /* END animacja */

/* END Hamburger */

/* Menu */

.nav-menu {
    position: fixed;
    width: 90%;
    text-align: center;
    background-color: #95a3b3;
    visibility: hidden;
    top: -100%;
    right: 50%;
    transform: translateX(50%);
    transition: 1s;
}

.nav-menu.active {
    visibility: visible;
    top: 80px;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    border-bottom: 1px solid #ffffff;
}

.nav-menu li:first-child {
    border-top: 1px solid #ffffff;
}

.nav-menu a {
    color: #313b72;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s;
}

.nav-menu a:hover {
    color: #ffffff;
}

/* END Menu */


.title {
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.title h1 {
    margin: 8px 0px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.2rem;
    color: #313b72;
}

.title h3 {
    margin: 0;
    color: #f28b24;
}

.title h4 {
    margin: 0;
    color: #f28b24;
}

.title i {
    color: #38d4e5;
    padding: 8px;
}

#arrow {
    width: 42px;
    height: 40px;
    position: absolute;
    color: #95a3b3;
    border: 3px solid #95a3b3;
    border-radius: 50%;
    text-align: center;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    overflow: hidden;
    cursor: pointer;
}

.fa-chevron-up {
    -webkit-animation: arrow-move 1.5s infinite linear;
            animation: arrow-move 1.5s infinite linear;
}



/* MAIN */

.main-top {
    width: 100%;
    height: 62px;
    position: relative;
    -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background: #95a3b3;
    /* bottom: 0; */
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

/* About */

.about {
    width: 100%;
    min-height: 100vh;
    background-color: #95a3b3;
    position: relative;
    text-align: center;
    margin-top: calc(var(--vh, 1vh) * 100);
    /* margin-top: 100vh; */
    z-index: 1;
}

.text-about {
    color: #ffffff;
    padding: 0 24px;
    line-height: 1.5em;
}

.text-about h2 {
    text-align: initial;
    margin: 0;
}

.text-about p {
    text-align: justify;
}

.text-about p span {
    color: #313b72;
}

.about img {
    width: 40vw;
    height: auto;
    position: relative;
    border-radius: 50%;
    margin: 16px 0;
}

.fa-chevron-down {
    width: 32px;
    height: 32px;
    position: relative;
    color: #ffffff;
}

/* Technology */

.technology {
    width: 100%;
    height: auto;
    padding: 64px 0 16px 0;
    position: relative;
    background-color: #ffffff;
    text-align: center;
}

.technology h2 {
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    color: #f28b24;
}

.technology h4 {
    padding: 0 40px;
    color: #313b72;
    font-weight: normal;
}

.skills {
    padding: 0 24px;
}

.type {
    display: inline-block;
    padding: 16px;
}

.type p {
    margin: 8px 0 0 0;
}

.fa-html5 {
    color: #F16529;
}

.fa-css3 {
    color:#2965f1;
}

.fa-bootstrap {
    color: #602C50;
}

.fa-js {
    color: #F0DB4F;
}

.fa-react {
    color: #61DBFB;
}

.fa-node {
    color: #303030;
}

hr {
    width: 75%;
    color: #95a3b3;
    margin-top: 62px;
}

/* My works */

.my-works {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 64px 0 16px 0;
    position: relative;
    background-color: #ffffff;
}

.my-works h2 {
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    color: #f28b24;
}

.all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    margin: 24px;
    cursor: pointer;
}

.project img {
    width: 80%;
}

.project p {
    margin: 0;
}

/* CV */

.cv {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    background-color: #ffffff;
    padding: 64px 0 64px 0;
}

.cv h2 {
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    color: #f28b24;
}

.cv img {
    width: 70%;
    margin: 32px 0;
    border: 1px solid #95a3b3;
}

.downloadCV {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #95a3b3;
    padding: 8px;
    transition: .2s;
}

.downloadCV:hover {
    color: #313b72;
}

/* Image */

.bottom-img {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    background-color: #ffffff;
}

/* Footer */

footer {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #95a3b3;
    bottom: 0;
    padding-bottom: 24px;
}

.contact i {
    color: #ffffff;
    padding: 24px 8px 0 8px;
}

footer h4 {
    padding: 0 8px;
    color: #ffffff;
}

/* Media */

@media (min-width: 320px) {}

@media (min-width: 320px) and (orientation: landscape) {}

@media (min-width: 480px) {}

@media (min-width: 480px) and (orientation: landscape) {}

@media (min-width: 576px) {}

@media (min-width: 576px) and (orientation: landscape) {}

@media (min-width: 768px) {}

@media (min-width: 768px) and (orientation: landscape) {

    .header-top,
    .main-top {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        position: fixed;
        text-align: right;
        background: transparent;
        visibility: visible;
        top: 16px;
        right: 15px;
        transform: none;
    }

    .nav-menu.active {
        visibility: visible;
        top: 16px;
    }

    .nav-menu ul {
        display: block;
    }

    .nav-menu li {
        display: inline;
        border: 1px solid #95a3b3;
        background-color: #ffffff;
        padding: 8px;
        border-radius: 8px;
        margin: 0 8px 0 8px;
    }

    .nav-menu li:first-child {
        border-top: 1px solid #95a3b3;
    }

    .nav-menu a:hover {
        text-decoration: underline;
        color: #313b72
    }
}

@media (min-width: 992px) {}

@media (min-width: 992px) and (orientation: landscape) {}

@media (min-width: 1024px) {}

@media (min-width: 1024px) and (orientation: landscape) {}

@media (min-width: 1280px) {}

@media (min-width: 1280px) and (orientation: landscape) {}


/* Keyframes */

@-webkit-keyframes arrow-move {
    0% {
        -webkit-transform: translateY(80px);
                transform: translateY(80px)
    }
    50% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px)
    }
    100% {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px)
    }
}

@keyframes arrow-move {
    0% {
        -webkit-transform: translateY(80px);
                transform: translateY(80px)
    }
    50% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px)
    }
    100% {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px)
    }
}

